[
  {
    "qualifier": "MainMenu",

    "path": "/gui/MainMenu.fxml",

    "title": "Main menu",

    "height": 210.0,
    "width": 520.0,

    "resizable": false
  },

  {
      "qualifier": "TextInput",

      "path": "/gui/input/TextInput.fxml",

      "title": "Text input",

      "height": 400.0,
      "width": 600.0,

      "min_height": 400.0,
      "min_width": 600.0,

      "resizable": true
  },
  {
      "qualifier": "BinaryInput",

      "path": "/gui/input/BinaryInput.fxml",

      "title": "Binary input",

      "height": 120.0,
      "width": 600.0,

      "resizable": false
  },
  {
      "qualifier": "BMPInput",

      "path": "/gui/input/BMPInput.fxml",

      "title": ".bmp file input",

      "height": 200.0,
      "width": 600.0,

      "resizable": false
  },

  {
      "qualifier": "TransmittedBitsOverview",

      "path": "/gui/TransmittedBitsOverview.fxml",

      "title": "Data bits overview",

      "height": 720.0,
      "width": 1280.0,

      "min_height": 720.0,
      "min_width": 1280.0,

      "resizable": true
  },

  {
      "qualifier": "TextInputResult",

      "path": "/gui/result/TextInputResult.fxml",

      "title": "Text input result",

      "height": 480.0,
      "width": 640.0,

      "min_height": 480.0,
      "min_width": 640.0,

      "resizable": true
  },
  {
      "qualifier": "BMPInputResult",

      "path": "/gui/result/BMPInputResult.fxml",

      "title": "BMP input result",

      "height": 200.0,
      "width": 600.0,

      "resizable": false
  },
  {
      "qualifier": "BinaryInputResult",

      "path": "/gui/result/BinaryInputResult.fxml",

      "title": "Binary input result",

      "height": 165.0,
      "width": 600.0,

      "resizable": false
  },

  {
    "qualifier": "DebugBMPResult",

    "path": "/gui/debug/DebugBMPResult.fxml",

    "title": "Debug BMP result",

    "height": 400.0,
    "width": 540.0,

    "resizable": false
  },
  {
    "qualifier": "DebugTextResult",

    "path": "/gui/debug/DebugTextResult.fxml",

    "title": "Debug text result",

    "height": 400.0,
    "width": 540.0,

    "resizable": false
  }
]